<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1>About 3-CPO</h1>
<h2>C-3PO (/ˌsiːˈθriːpioʊ/) or See-Threepio was designed as a protocol droid intended to assist in etiquette, customs, and translation.</h2> 
    <h3>He is "fluent in over six million forms of communication".</h3>
<img src="reassuring.gif" alt="">
<ul>
    <li>
    <a href="./">Home</a>
    </li>
    <li>
        <a href="./works">Works</a>
    </li>
</ul>
</body>
</html>