<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Works</h1>
    <h2>C-3PO is probably the galaxy's most accomplished droid, having appeared in numerous hit movies.</h2>
    <img src="madness.gif" alt="">

<ul>
<li>Star Wars (1977)</li>
<li>The Empire Strikes Back (1980)</li>
<li>Return of the Jedi (1983)</li>
<li>The Phantom Menace (1999)</li>
<li>Attack of the Clones (2002)</li>
<li>Revenge of the Sith (2005)</li>
<li>The Force Awakens (2015)</li>
<li>The Last Jedi (2017)</li>
<li>Rogue One (2016)</li>
<li>The Rise of Skywalker (2019)</li>

</ul>

<ul>
    <li>
    <a href="./">Home</a>
    </li>
    <li>
        <a href="./about">About</a>
    </li>
</ul>
</body>
</html>